<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/release/v5.10.0/css/all.css"/>
    <title>Surgical Website</title>
</head>
<body>
  <header>
        <div class="logo">
            <img src="/static/images/Logo.png " alt="Your Logo">
        </div>
        <div class="company-name">Surgical Instrument</div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <button class="search-button">Search</button>
        </div>
        <div class="user-actions">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">
            <button class="logout-button">Logout</button>
        </a>
        <a href="{% url 'view_cart' %}">
            <button class="cart-button">
                Cart Items
            </button>
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            <button class="login-button">Login</button>
        </a>
        <a href="{% url 'signup' %}">
            <button class="register-button">Register</button>
        </a>
    {% endif %}
    </div>

    </header>
      <nav class="navbar">
          {% if user.is_authenticated %}
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'featured_products' %}">Featured Products</a></li>
                <li><a href="{% url 'request_product_form' %}">Customer Request</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'blog' %}">Blogs</a></li>
                <li><a href="{% url 'charge' %}">Account Details</a></li>
                <li><a href="{% url 'order_list' %}">My Order</a></li>
                <li><a href="{% url 'featured_products' %}" id="all-products-link" ondrop="drop(event)" ondragover="allowDrop(event)">All Products</a></li>
            </ul>
            <div class="social-media-icons">
                <a href="www.facebook.com" class="social-icon"><img src="/static/images/Fb.png" alt="Facebook"></a>
                <a href="www.instragram.com" class="social-icon"><img src="/static/images/Ist.png" alt="Instagram"></a>
                <a href="www.linkedin.com" class="social-icon"><img src="/static/images/Lk.png" alt="LinkedIn"></a>
                <a href="www.youtube.com" class="social-icon"><img src="/static/images/icons8-youtube-48.png" alt="YouTube"></a>
            </div>
          {% else %}
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'featured_products' %}">Featured Products</a></li>
                <li><a href="{% url 'request_product_form' %}">Customer Request</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'blog' %}">Blogs</a></li>
                <li><a href="{% url 'charge' %}">Account Details</a></li>
                <li><a href="{% url 'featured_products' %}">All Products</a></li>
            </ul>
            <div class="social-media-icons">
                <a href="www.facebook.com" class="social-icon"><img src="/static/images/Fb.png" alt="Facebook"></a>
                <a href="www.instragram.com" class="social-icon"><img src="/static/images/Ist.png" alt="Instagram"></a>
                <a href="www.linkedin.com" class="social-icon"><img src="/static/images/Lk.png" alt="LinkedIn"></a>
                <a href="www.youtube.com" class="social-icon"><img src="/static/images/icons8-youtube-48.png" alt="YouTube"></a>
            </div>
          {% endif %}
    </nav>

    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button>Shop Now</button>
    </section>

<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <h2 class="has-text-align-center wp-block-heading">
                        <strong>
                            <span style="text-decoration: underline;">
                                <a href="https://jalalsurgical.com/payment-methods">Blog</a>
                            </span>
                        </strong>
                    </h2>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">How to Make Payment?</span>
                    </h3>
                    <p>It is very easy to make payment for your orders, You can pay by &nbsp;PayPal, Visa Card, Master Card and Bank Transfer.You can put all required instruments in your shopping cart and checkout ! Once you confirm order You can chose to pay by PayPal or by Credit/Debit Card or Direct Bank Transfer.</p>
                    <p>Once you complete payment your order will be placed and you will receive a confirmation Email with Invoice for your order.</p>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">
                            <a href="https://jalalsurgical.com/return-and-refund-policy/">RETURN &amp;REFUND POLICY:</a>
                        </span>
                    </h3>
                    <p>
                        All Orders processed through
                        <code>
                            <strong>JALAL SURGICAL</strong>
                        </code>
                        has a
                        <a href="https://jalalsurgical.com/return-and-refund-policy/" target="_blank" rel="noreferrer noopener">
                            <code>Return &amp;Refund Policy</code>
                        </a>
                        ! If a customer is unsatisfied by the items received you can contact us at
                        <code>
                            <a href="mailto:info@jalalsurgical.com" target="_blank" rel="noreferrer noopener">info@alisurgical.com</a>
                        </code>
                        and give detailed description what exactly is the problem with items. we will review your request and try our best to make our customers satisfy and resolve the issue ! If your request is applicable and approved we will send you replacements for faulty items free of cost ASAP to resolve the issue.
                    </p>
                    <p>
                        If any customer does not want to accept replacements for his order and want a refund then the customer has to return our order to us for this please read our &nbsp;
                        <code>
                            <a href="https://jalalsurgical.com/return-and-refund-policy/" target="_blank" rel="noreferrer noopener">Return &amp;Refund Policy</a>
                        </code>
                        .
                    </p>
                    <p>Once we receive our items back in the same condition that we dispatched without being used, we will check our items and then issue a refund for your orders with in 3-4 business days.</p>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">PAYMENT PROTECTION:</span>
                    </h3>
                    <p>
                        We offer complete payment protection to our customers ! Refund is available for any applicable reason. We accept &nbsp;<strong>PayPal, Visa Card, Master Card and Bank Transfer</strong>
                        &nbsp;for payments ! Your payment, and all personal information you put on this website is highly confidential and secured with
                        <strong>
                            <code>alisurgical.com</code>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up for Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your Email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer>
    <div class="footer-row">
        <div class="footer-column-1">
            <h3>About Ali Surgical</h3>
            <p>Ali Surgical is one of the Renowned, Privately Health Care Instrument Manufacturing Company in
                Pakistan</p>
            <div class="icon-row">
                <img src="/static/images/Fb.png" alt="Facebook">
                <img src="/static/images/Lk.png" alt="LinkedIn">
                <img src="/static/images/Ist.png" alt="Email">
                <img src="/static/images/icons8-youtube-48.png" alt="Youtube">
            </div>
        </div>
        <div class="footer-column-2">
            <h3>About</h3>
            <ul>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="#">DCMA</a></li>
                <li><a href="{% url 'About_us' %}">About Us</a></li>
                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'term_conditions' %}">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="footer-column-3">
            <h3>Let Us Help You</h3>
            <ul>
                <li><a href="{% url 'faqs' %}">FAQS</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'payment_method' %}">Payment Methods</a></li>
                <li><a href="{% url 'delivery_Information' %}">Delivery Information</a></li>
                <li><a href="{% url 'return_refunds' %}">Return and Refund Policy</a></li>
            </ul>
        </div>
        <div class="footer-column-4">
            <h3>Customer Care</h3>
            <ul>
                <li><a href="{% url 'signup' %}">My Accounts</a></li>
                <li><a href="{% url 'contact_us' %}">Addresses</a></li>
                <li><a href="{% url 'order_list' %}">Orders</a></li>
                <li><a href="{% url 'return_refunds' %}">Track Your Order</a></li>
                <li><a href="{% url 'login' %}">Lost Password</a></li>
            </ul>
        </div>
    </div>
    <div class="centered-div">
        <img src="/static/images/p1.png" alt="Image">
        <div class="anchor-div">
            <a href="{% url 'About_us' %}">About Us</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'contact_us' %}">Contact</a>
            <a href="{% url 'faqs' %}">FAQ</a>
        </div>
        <p>Copyright &copy; 2023 Ali Surgical. All Rights Reserved.</p>
        <p>This site is also protected by reCAPTCHA and the Google Privacy Policy and the Terms of Service
            Apply.</p>
    </div>

</footer>
</body>
</html>