<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/release/v5.10.0/css/all.css"/>
    <title>Surgical Website</title>
</head>
<body>
<header>
        <div class="logo">
            <img src="/static/images/Logo.png " alt="Your Logo">
        </div>
        <div class="company-name">Surgical Instrument</div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <button class="search-button">Search</button>
        </div>
        <div class="user-actions">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">
            <button class="logout-button">Logout</button>
        </a>
        <a href="{% url 'view_cart' %}">
            <button class="cart-button">
                Cart Items
            </button>
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            <button class="login-button">Login</button>
        </a>
        <a href="{% url 'signup' %}">
            <button class="register-button">Register</button>
        </a>
    {% endif %}
    </div>

    </header>
      <nav class="navbar">
          {% if user.is_authenticated %}
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'featured_products' %}">Featured Products</a></li>
                <li><a href="{% url 'request_product_form' %}">Customer Request</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'blog' %}">Blogs</a></li>
                <li><a href="{% url 'charge' %}">Account Details</a></li>
                <li><a href="{% url 'order_list' %}">My Order</a></li>
                <li><a href="{% url 'featured_products' %}" id="all-products-link" ondrop="drop(event)" ondragover="allowDrop(event)">All Products</a></li>
            </ul>
            <div class="social-media-icons">
                <a href="www.facebook.com" class="social-icon"><img src="/static/images/Fb.png" alt="Facebook"></a>
                <a href="www.instragram.com" class="social-icon"><img src="/static/images/Ist.png" alt="Instagram"></a>
                <a href="www.linkedin.com" class="social-icon"><img src="/static/images/Lk.png" alt="LinkedIn"></a>
                <a href="www.youtube.com" class="social-icon"><img src="/static/images/icons8-youtube-48.png" alt="YouTube"></a>
            </div>
          {% else %}
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'featured_products' %}">Featured Products</a></li>
                <li><a href="{% url 'request_product_form' %}">Customer Request</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'blog' %}">Blogs</a></li>
                <li><a href="{% url 'charge' %}">Account Details</a></li>
                <li><a href="{% url 'featured_products' %}">All Products</a></li>
            </ul>
            <div class="social-media-icons">
                <a href="www.facebook.com" class="social-icon"><img src="/static/images/Fb.png" alt="Facebook"></a>
                <a href="www.instragram.com" class="social-icon"><img src="/static/images/Ist.png" alt="Instagram"></a>
                <a href="www.linkedin.com" class="social-icon"><img src="/static/images/Lk.png" alt="LinkedIn"></a>
                <a href="www.youtube.com" class="social-icon"><img src="/static/images/icons8-youtube-48.png" alt="YouTube"></a>
            </div>
          {% endif %}
    </nav>

<div class="delivery">
<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <h2 class="has-text-align-center wp-block-heading">
                        <span style="text-decoration: underline;">
                            <a href="https://jalalsurgical.com/delivery-information/">DELIVERY INFORMATION</a>
                        </span>
                    </h2>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">DELIVERY TIMESCALE:</span>
                    </h3>
                    <p>
                        All orders received through &nbsp;
                        <code>
                            <strong>ALI SURGICAL</strong>
                        </code>
                        &nbsp;website are processed and, if the stock is available,&nbsp;dispatched &nbsp;within 3-4 working days of receiving the order. If the products are out of stocks then your ordered products &nbsp;will have to go through a production process, and the production period may &nbsp;vary &nbsp;according to number of products and quantity, which may be &nbsp;
                        <strong>
                            <code>1-4 weeks.</code>
                        </strong>
                    </p>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">DELIVERY METHODS:</span>
                    </h3>
                    <p>
                        All your orders will be dispatched to you by DHL Courier Service. Only RUSSIA, BRAZIL and ARGENTINA and Countries where DHL Don &#8217;t deliver Surgical Instruments to Individuals will get products by EMS Post Service, All other clients will receive products very safely by DHL! A DHL Representative will deliver your products at your door step and you won’t be charged any extra tax or custom charges.<br>DHL Delivery charges will automatically be added in your invoice when you click on checkout!
                    </p>
                    <p>
                        <strong>Note:</strong>
                        &#8211;we can also delivery the Big order quantity goods Airportport to Airportport with a very reasonable Freight Rate by Air Cargo Emirates, Qatar Airways, British Airways and Pakistan International Airlines.
                    </p>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">TRACKING NUMBER:</span>
                    </h3>
                    <p>For all your orders simply retrieve your tracking number from your account and then visit DHL Website and track the order using their functionality or you can also track your order status from our website.</p>
                    <p>
                        You can also demand your tracking number by contacting us at &nbsp;
                        <strong>
                            <code>
                                <a href="mailto:info@jalalsurgical.com">info@alisurgical.com</a>
                            </code>
                        </strong>
                        &nbsp;OR by Whatsapp:&nbsp;
                        <code>
                            <strong>
                                <a href="https://wa.me/923466771977?text=Hello%20there...!">+923352664234</a>
                            </strong>
                        </code>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
<section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up for Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your Email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer>
    <div class="footer-row">
        <div class="footer-column-1">
            <h3>About Ali Surgical</h3>
            <p>Ali Surgical is one of the Renowned, Privately Health Care Instrument Manufacturing Company in
                Pakistan</p>
            <div class="icon-row">
                <img src="/static/images/Fb.png" alt="Facebook">
                <img src="/static/images/Lk.png" alt="LinkedIn">
                <img src="/static/images/Ist.png" alt="Email">
                <img src="/static/images/icons8-youtube-48.png" alt="Youtube">
            </div>
        </div>
        <div class="footer-column-2">
            <h3>About</h3>
            <ul>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="#">DCMA</a></li>
                <li><a href="{% url 'About_us' %}">About Us</a></li>
                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'term_conditions' %}">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="footer-column-3">
            <h3>Let Us Help You</h3>
            <ul>
                <li><a href="{% url 'faqs' %}">FAQS</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'payment_method' %}">Payment Methods</a></li>
                <li><a href="{% url 'delivery_Information' %}">Delivery Information</a></li>
                <li><a href="{% url 'return_refunds' %}">Return and Refund Policy</a></li>
            </ul>
        </div>
        <div class="footer-column-4">
            <h3>Customer Care</h3>
            <ul>
                <li><a href="{% url 'signup' %}">My Accounts</a></li>
                <li><a href="{% url 'contact_us' %}">Addresses</a></li>
                <li><a href="{% url 'order_list' %}">Orders</a></li>
                <li><a href="{% url 'return_refunds' %}">Track Your Order</a></li>
                <li><a href="{% url 'login' %}">Lost Password</a></li>
            </ul>
        </div>
    </div>
    <div class="centered-div">
        <img src="/static/images/p1.png" alt="Image">
        <div class="anchor-div">
            <a href="{% url 'About_us' %}">About Us</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'contact_us' %}">Contact</a>
            <a href="{% url 'faqs' %}">FAQ</a>
        </div>
        <p>Copyright &copy; 2023 Ali Surgical. All Rights Reserved.</p>
        <p>This site is also protected by reCAPTCHA and the Google Privacy Policy and the Terms of Service
            Apply.</p>
    </div>

</footer>
</body>
</html>