<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/release/v5.10.0/css/all.css"/>
    <title>Surgical Website</title>
</head>
<body>
     <header>
        <div class="logo">
            <img src="/static/images/Logo.png " alt="Your Logo">
        </div>
        <div class="company-name">Surgical Instrument</div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <button class="search-button">Search</button>
        </div>
        <div class="user-actions">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">
            <button class="logout-button">Logout</button>
        </a>
        <a href="{% url 'view_cart' %}">
            <button class="cart-button">
                Cart Items
            </button>
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            <button class="login-button">Login</button>
        </a>
        <a href="{% url 'signup' %}">
            <button class="register-button">Register</button>
        </a>
    {% endif %}
    </div>

    </header>
      <nav class="navbar">
          {% if user.is_authenticated %}
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'featured_products' %}">Featured Products</a></li>
                <li><a href="{% url 'request_product_form' %}">Customer Request</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'blog' %}">Blogs</a></li>
                <li><a href="{% url 'charge' %}">Account Details</a></li>
                <li><a href="{% url 'order_list' %}">My Order</a></li>
                <li><a href="{% url 'featured_products' %}" id="all-products-link" ondrop="drop(event)" ondragover="allowDrop(event)">All Products</a></li>
            </ul>
            <div class="social-media-icons">
                <a href="www.facebook.com" class="social-icon"><img src="/static/images/Fb.png" alt="Facebook"></a>
                <a href="www.instragram.com" class="social-icon"><img src="/static/images/Ist.png" alt="Instagram"></a>
                <a href="www.linkedin.com" class="social-icon"><img src="/static/images/Lk.png" alt="LinkedIn"></a>
                <a href="www.youtube.com" class="social-icon"><img src="/static/images/icons8-youtube-48.png" alt="YouTube"></a>
            </div>
          {% else %}
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'featured_products' %}">Featured Products</a></li>
                <li><a href="{% url 'request_product_form' %}">Customer Request</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'blog' %}">Blogs</a></li>
                <li><a href="{% url 'charge' %}">Account Details</a></li>
                <li><a href="{% url 'featured_products' %}">All Products</a></li>
            </ul>
            <div class="social-media-icons">
                <a href="www.facebook.com" class="social-icon"><img src="/static/images/Fb.png" alt="Facebook"></a>
                <a href="www.instragram.com" class="social-icon"><img src="/static/images/Ist.png" alt="Instagram"></a>
                <a href="www.linkedin.com" class="social-icon"><img src="/static/images/Lk.png" alt="LinkedIn"></a>
                <a href="www.youtube.com" class="social-icon"><img src="/static/images/icons8-youtube-48.png" alt="YouTube"></a>
            </div>
          {% endif %}
    </nav>

<div class="Container2">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper" style="height:400px">
            <!-- Slides -->
            <!--            <div class="swiper-slide"><img src="/static/images/s1.png" alt="Facebook"></div>-->
            <div class="swiper-slide"><img src="/static/images/s2.png" alt="Facebook"></div>
            <div class="swiper-slide"><img src="/static/images/s3.png" alt="Facebook"></div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
</div>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="/static/images/s2.png" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="/static/images/s2.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="/static/images/s2.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="/static/images/s2.png" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="/static/images/s2.png" alt="">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="/static/images/s2.png" alt="">
            <h6>Support</h6>
        </div>
    </section>



    <section id="banner" class="section-m1">
        <h4>Repair Services</h4>
        <h2>Up to <span>70% off</span> - All t-shirts & Accessories</h2>
        <button class="normal">Explore More</button>
    </section>

<div class="Container">
    <h3 class="container-head">Latest Products</h3>
    <div class="container-1">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="Slider1">
                        <div class="cart cart1">
                            <img src="/static/images/s2.png" alt="Company Logo">
                            <h6>Plastic Instruments</h6>
                            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
                            <span>$540.00</span>
                        </div>

                        <div class="cart cart2">
                            <img src="/static/images/s2.png" alt="Company Logo">
                            <h6>Plastic Instruments</h6>
                            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
                            <span>$549.00</span>
                        </div>

                        <div class="cart cart3">
                            <img src="/static/images/s2.png" alt="Company Logo">
                            <h6>Plastic Instruments</h6>
                            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
                            <span>$543.00</span>
                        </div>

                        <div class="cart cart4">
                            <img src="/static/images/s2.png" alt="Company Logo">
                            <h6>Plastic Instruments</h6>
                            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
                            <span>$542.00</span>
                        </div>

                        <div class="cart cart5">
                            <img src="/static/images/s2.png" alt="Company Logo">
                            <h6>Plastic Instruments</h6>
                            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
                            <span>$5452.00</span>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="Slider2">
                        <div class="cart cart1">
                            <img src="/static/images/s2.png" alt="Company Logo">
                            <h6>Plastic Instruments</h6>
                            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
                            <span>$545.00</span>
                        </div>

                        <div class="cart cart2">
                            <img src="/static/images/s2.png" alt="Company Logo">
                            <h6>Plastic Instruments</h6>
                            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
                            <span>$545.00</span>
                        </div>

                        <div class="cart cart3">
                            <img src="/static/images/s2.png" alt="Company Logo">
                            <h6>Plastic Instruments</h6>
                            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
                            <span>$545.00</span>
                        </div>

                        <div class="cart cart4">
                            <img src="/static/images/s2.png" alt="Company Logo">
                            <h6>Plastic Instruments</h6>
                            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
                            <span>$545.00</span>
                        </div>

                        <div class="cart cart5">
                            <img src="/static/images/s2.png" alt="Company Logo">
                            <h6>Plastic Instruments</h6>
                            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
                            <span>$545.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>


    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up for Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your Email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

     <div class="container-3">
    <div class="container-column-1">
        <h3>LATEST</h3>
        <div class="l l1">
            <img src="/static/images/s3.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>

        <div class="l l2">
            <img src="/static/images/s3.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
        <div class="l l3">
            <img src="/static/images/s3.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
        <div class="l l4">
            <img src="/static/images/s3.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
    </div>

    <div class="container-column-2">
        <h3>BEST SELLING</h3>

        <div class="l l5">
            <img src="/static/images/s2.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>

        <div class="l l6">
            <img src="/static/images/s2.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
        <div class="l l7">
            <img src="/static/images/s2.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
        <div class="l l8">
            <img src="/static/images/s2.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
    </div>

    <div class="container-column-3">
        <h3>FEATURED</h3>

        <div class="l l9">
            <img src="/static/images/s2.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>

        <div class="l l10">
            <img src="/static/images/s2.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
        <div class="l l11">
            <img src="/static/images/s2.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
        <div class="l l12">
            <img src="/static/images/s2.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
    </div>

    <div class="container-column-4">
        <h3>TOP RATED</h3>

        <div class="l l13">
            <img src="/static/images/s3.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>

        <div class="l l14">
            <img src="/static/images/s3.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
        <div class="l l15">
            <img src="/static/images/s3.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
        <div class="l l16">
            <img src="/static/images/s3.png" alt="Company Logo">
            <p>Plastic Instruments Set 50 Pcs of ENT Nasal Surgical Instruments</p>
        </div>
    </div>

</div>

    <footer>
    <div class="footer-row">
        <div class="footer-column-1">
            <h3>About Ali Surgical</h3>
            <p>Ali Surgical is one of the Renowned, Privately Health Care Instrument Manufacturing Company in
                Pakistan</p>
            <div class="icon-row">
                <img src="/static/images/Fb.png" alt="Facebook">
                <img src="/static/images/Lk.png" alt="LinkedIn">
                <img src="/static/images/Ist.png" alt="Email">
                <img src="/static/images/icons8-youtube-48.png" alt="Youtube">
            </div>
        </div>
        <div class="footer-column-2">
            <h3>About</h3>
            <ul>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="#">DCMA</a></li>
                <li><a href="{% url 'About_us' %}">About Us</a></li>
                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'term_conditions' %}">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="footer-column-3">
            <h3>Let Us Help You</h3>
            <ul>
                <li><a href="{% url 'faqs' %}">FAQS</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'payment_method' %}">Payment Methods</a></li>
                <li><a href="{% url 'delivery_Information' %}">Delivery Information</a></li>
                <li><a href="{% url 'return_refunds' %}">Return and Refund Policy</a></li>
            </ul>
        </div>
        <div class="footer-column-4">
            <h3>Customer Care</h3>
            <ul>
                <li><a href="{% url 'signup' %}">My Accounts</a></li>
                <li><a href="{% url 'contact_us' %}">Addresses</a></li>
                <li><a href="{% url 'order_list' %}">Orders</a></li>
                <li><a href="{% url 'return_refunds' %}">Track Your Order</a></li>
                <li><a href="{% url 'login' %}">Lost Password</a></li>
            </ul>
        </div>
    </div>
    <div class="centered-div">
        <img src="/static/images/p1.png" alt="Image">
        <div class="anchor-div">
            <a href="{% url 'About_us' %}">About Us</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'contact_us' %}">Contact</a>
            <a href="{% url 'faqs' %}">FAQ</a>
        </div>
        <p>Copyright &copy; 2023 Ali Surgical. All Rights Reserved.</p>
        <p>This site is also protected by reCAPTCHA and the Google Privacy Policy and the Terms of Service
            Apply.</p>
    </div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
      autoplay: {
         delay:3000,
         disableOnInteraction:false,
         },
      loop: true,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
</script>
<script>
            document.addEventListener('DOMContentLoaded', function() {
                var addToCartButtons = document.querySelectorAll('.add-to-cart');
                addToCartButtons.forEach(function(button) {
                    button.addEventListener('click', function() {
                        var productId = button.getAttribute('data-product-id');
                        var productName = button.getAttribute('data-product-name');
                        var productPrice = button.getAttribute('data-product-price');

                        fetch(`/add_to_cart/${productId}/`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCookie('csrftoken'),
                            },
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert(`${productName} added to cart`);
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    });
                });

                function getCookie(name) {
                    var value = "; " + document.cookie;
                    var parts = value.split("; " + name + "=");
                    if (parts.length == 2) return parts.pop().split(";").shift();
                }
            });
        </script>
</body>
</html>