<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/release/v5.10.0/css/all.css"/>
    <title>Surgical Website</title>
</head>
<body>
<header>
        <div class="logo">
            <img src="/static/images/Logo.png " alt="Your Logo">
        </div>
        <div class="company-name">Surgical Instrument</div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <button class="search-button">Search</button>
        </div>
        <div class="user-actions">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">
            <button class="logout-button">Logout</button>
        </a>
        <a href="{% url 'view_cart' %}">
            <button class="cart-button">
                Cart Items
            </button>
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            <button class="login-button">Login</button>
        </a>
        <a href="{% url 'signup' %}">
            <button class="register-button">Register</button>
        </a>
    {% endif %}
    </div>

    </header>
      <nav class="navbar">
          {% if user.is_authenticated %}
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'featured_products' %}">Featured Products</a></li>
                <li><a href="{% url 'request_product_form' %}">Customer Request</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'blog' %}">Blogs</a></li>
                <li><a href="{% url 'charge' %}">Account Details</a></li>
                <li><a href="{% url 'order_list' %}">My Order</a></li>
                <li><a href="{% url 'featured_products' %}" id="all-products-link" ondrop="drop(event)" ondragover="allowDrop(event)">All Products</a></li>
            </ul>
            <div class="social-media-icons">
                <a href="www.facebook.com" class="social-icon"><img src="/static/images/Fb.png" alt="Facebook"></a>
                <a href="www.instragram.com" class="social-icon"><img src="/static/images/Ist.png" alt="Instagram"></a>
                <a href="www.linkedin.com" class="social-icon"><img src="/static/images/Lk.png" alt="LinkedIn"></a>
                <a href="www.youtube.com" class="social-icon"><img src="/static/images/icons8-youtube-48.png" alt="YouTube"></a>
            </div>
          {% else %}
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'featured_products' %}">Featured Products</a></li>
                <li><a href="{% url 'request_product_form' %}">Customer Request</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'blog' %}">Blogs</a></li>
                <li><a href="{% url 'charge' %}">Account Details</a></li>
                <li><a href="{% url 'featured_products' %}">All Products</a></li>
            </ul>
            <div class="social-media-icons">
                <a href="www.facebook.com" class="social-icon"><img src="/static/images/Fb.png" alt="Facebook"></a>
                <a href="www.instragram.com" class="social-icon"><img src="/static/images/Ist.png" alt="Instagram"></a>
                <a href="www.linkedin.com" class="social-icon"><img src="/static/images/Lk.png" alt="LinkedIn"></a>
                <a href="www.youtube.com" class="social-icon"><img src="/static/images/icons8-youtube-48.png" alt="YouTube"></a>
            </div>
          {% endif %}
    </nav>

<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <h2 class="has-text-align-center wp-block-heading">
                        <span style="text-decoration: underline;">
                            <a href="https://jalalsurgical.com/terms-and-conditions">TERMS &amp;CONDITIONS</a>
                        </span>
                    </h2>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">ORDERING INFORMATION</span>
                        :
                    </h3>
                    <p>In order to avoid placing an order issue, please be sure to add require product into cart, and fill the exact quantity, and exect Billing and Shipping Address.All product prices are in F.O.B. Customs brokerage fees and duty, if applicable, become the responsibility of the customer. Customer takes legal possession as soon as merchandise is delivered to a common carrier.</p>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">
                            <strong>GUARANTEE</strong>
                            <strong>AND WARRANTY SERVICES</strong>
                        </span>
                        :
                    </h3>
                    <p>
                        All &nbsp;
                        <strong>
                            <code>Ali Surgical</code>
                        </strong>
                        &nbsp;instruments are guaranteed to be free of defects in material and workmanship. This guarantee applies only &nbsp;when instruments are used for their intended purpose.&nbsp;
                    </p>
                    <p>
                        <strong>
                            <code>ALI SURGICAL</code>
                        </strong>
                        &nbsp;Instrument &#8217;s are guaranteed to Work very finely for their intended purpose for 5 years! You can sterilize them and use them again and again!
                    </p>
                    <p>Guarantee will not be applied if you break the Instrueents by putting extra pressure or using wrongly!</p>
                    <p>
                        Any defectiveinstrument &nbsp;will be repaired at no charge at the sole discretion of <code>Ali Surgical</code>
                        Instruments. After it &#8217;s &nbsp;guarantee period, service and maintenance are available for a nominal charge.
                    </p>
                    <p>
                        <strong>Repair and Maintenance:-</strong>
                        A full line of repair and maintenance services is available by &nbsp;
                        <code>
                            <strong>ALI SURGICAL</strong>
                        </code>
                        . Repair forms are available by contacting customer service at &nbsp;info@alisurgical.com
                    </p>
                    <p>
                        <strong>Limitations:</strong>
                        &#8211;Repair, alterations or modifications of any product by persons not authorized by &nbsp;
                        <strong>
                            <code>ALI SURGICAL</code>
                            &nbsp;
                        </strong>
                        Instruments or abuse of products (physical or chemical) will result in immediate loss of guarantee.
                    </p>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">PAYMENT WAYS</span>
                        :
                    </h3>
                    <p>We make sure to give you a complete payment protection! You can pay by: </p>
                    <figure class="wp-block-image size-large">
                        <img decoding="async" width="394" height="36" src="/static/images/p1.png" alt="" class="wp-image-2161" srcset="https://jalalsurgical.com/wp-content/uploads/2020/07/Payment-Methods.jpg 394w, https://jalalsurgical.com/wp-content/uploads/2020/07/Payment-Methods-247x23.jpg 247w" sizes="(max-width: 394px) 100vw, 394px"/>
                    </figure>
                    <p>PayPal, Visa Card, Debit Card, Credit Card, AMEX, Master Card, Bank Transfer and place your order ! As soon as you click on Confirm Order you will be redirected to payment gatway page that is our payment processor! You can complete your payment and your order will be placed! You will receive Invoice and Confirmation of your order by Email as soon as you make payment!</p>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">SHIPPING AND HANDLING</span>
                        :
                    </h3>
                    <p>We have the Fastest Shipping! And we ship all over the world! We will ship your order by DHL ASAP and issue a DHL Tracking number by Email or you can also see a tracking number in your account order history! Your order will be delivered at your home door safely and easily.</p>
                    <p>
                        <strong>NOTE :- </strong>
                        Custom Clearance is not our responsibility All international shipments, require that the consignee be responsible for all Customs Duty, Brokerage Fees and Local Taxes.
                    </p>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">RETURNS AND CREDITS POLICY</span>
                    </h3>
                    <p class="has-text-align-left">
                        To return any product please email us at
                        <strong>
                            <code>
                                <a href="mailto:info@jalalsurgical.com">info@alisurgical.com</a>
                            </code>
                        </strong>
                        ! Send your order ID and Complete description about what exactly is the cause of return.
                    </p>
                    <ol>
                        <li>Return shipping, insurance, and handling is the responsibility of the customer.</li>
                        <li>Credits will not be issued until the product is received in acceptable condition.</li>
                        <li>Once the item has been used it is not returnable.</li>
                        <li>Any claim for incorrect shipment, faulty or damaged goods on delivery, must be made within ten (10) working days of receipt of goods.</li>
                        <li>Custom products are not eligible for return or exchange under any circumstances.</li>
                        <li>Product will only be accepted for exchange/credit if received in sell-able condition. </li>
                        <li>Product must be returned in the original sealed package to be accepted for replacement or credit.</li>
                        <li>A restocking fee will apply to any product returned for reasons other than defect or damage. </li>
                    </ol>
                    <p>The Restocking Fee Schedule is as follows:-&nbsp;</p>
                    <ul>
                        <li>20% for items returned within 15 days</li>
                        <li>30% for items returned between 15-45 days</li>
                        <li>No credit after 45 days</li>
                        <li>Shipping fees will not be credited.</li>
                    </ul>
                    <h3 class="wp-block-heading">
                        <span style="text-decoration: underline;">ORDER CANCELLATION</span>
                    </h3>
                    <p>Orders can only be cancelled in a period of 24 hours after making the payment, once we start production or preparation of your order the orders cannot be cancelled and there will be no refund for cancelling an order after 24 hours without a valid reason. If there is any problem in the products after receiving the delivery of your order then we do issue replacements free of cost and make the customer happy and satisfied.</p>
                </div>
            </div>
        </div>
    </div>
</main>
<section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up for Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your Email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer>
    <div class="footer-row">
        <div class="footer-column-1">
            <h3>About Ali Surgical</h3>
            <p>Ali Surgical is one of the Renowned, Privately Health Care Instrument Manufacturing Company in
                Pakistan</p>
            <div class="icon-row">
                <img src="/static/images/Fb.png" alt="Facebook">
                <img src="/static/images/Lk.png" alt="LinkedIn">
                <img src="/static/images/Ist.png" alt="Email">
                <img src="/static/images/icons8-youtube-48.png" alt="Youtube">
            </div>
        </div>
        <div class="footer-column-2">
            <h3>About</h3>
            <ul>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="#">DCMA</a></li>
                <li><a href="{% url 'About_us' %}">About Us</a></li>
                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'term_conditions' %}">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="footer-column-3">
            <h3>Let Us Help You</h3>
            <ul>
                <li><a href="{% url 'faqs' %}">FAQS</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'payment_method' %}">Payment Methods</a></li>
                <li><a href="{% url 'delivery_Information' %}">Delivery Information</a></li>
                <li><a href="{% url 'return_refunds' %}">Return and Refund Policy</a></li>
            </ul>
        </div>
        <div class="footer-column-4">
            <h3>Customer Care</h3>
            <ul>
                <li><a href="{% url 'signup' %}">My Accounts</a></li>
                <li><a href="{% url 'contact_us' %}">Addresses</a></li>
                <li><a href="{% url 'order_list' %}">Orders</a></li>
                <li><a href="{% url 'return_refunds' %}">Track Your Order</a></li>
                <li><a href="{% url 'login' %}">Lost Password</a></li>
            </ul>
        </div>
    </div>
    <div class="centered-div">
        <img src="/static/images/p1.png" alt="Image">
        <div class="anchor-div">
            <a href="{% url 'About_us' %}">About Us</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'contact_us' %}">Contact</a>
            <a href="{% url 'faqs' %}">FAQ</a>
        </div>
        <p>Copyright &copy; 2023 Ali Surgical. All Rights Reserved.</p>
        <p>This site is also protected by reCAPTCHA and the Google Privacy Policy and the Terms of Service
            Apply.</p>
    </div>

</footer>
</body>
</html>